@model WeatherApp.Models.WeatherForecastModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Weather App</h1>
    <form method="post">
        <table>
            <tr>
                <td>Lat</td>
                <td><input type="text" name="lat"/></td>
            </tr>
            <tr>
                <td>Lon</td>
                <td><input type="text" name="lon"/></td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
    </form>
    <br />
    @if(ViewBag.IsError == true)
    {
        <div class="error">
            <h2>An error was encountered when calling third party API!<br>Please check input data and try again.</h2>
        </div> 
    }
    @if(Model != null)
    {
        <div class="weather-report">
            <h2>Weather Report</h2>
            <h3>Location</h3>
            <b>Name:</b> @Model.Name <br>
            <b>Country:</b> @Model.Sys.Country <br>
            <h3>Temperature</h3>
            <b>Temperature (C):</b> @Model.Main.Temp <br>
            <b>Max Temperature (C):</b> @Model.Main.TempMax <br>
            <b>Min Temperature (C):</b> @Model.Main.TempMin <br>
            <h3>Weather Details</h3>
            <b>Humidity (%):</b> @Model.Main.Humidity <br>
            <b>Pressure (mmHg):</b> @Model.Main.Pressure <br>
            <b>Sunrise:</b> @Model.Sys.ConvertedSunrise <br>
            <b>Sunrise:</b> @Model.Sys.ConvertedSunset <br>
        </div> 
    }
</div>